body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 19pt;
    background: rgb(255, 255, 255);
    overflow-x:hidden;
}

a {
    text-decoration: none;
}

.run {
    padding: 75px 0 0 95px;
}

.menu {
    padding: 64px 0 0 516px;
}

.btn {
    margin:  64px 0 0 516px;
    background: #093CB5;
    width: 163px;
    height: 58px;
    border-radius: 83px;
    display: flex;
    border: 0;
    color: #fff;
}

.kvadrat {
    margin:  17px 8px 0 26px;
}

.Kvadrat2 {
    margin: 13px 26px 0 0;
    font-size: 19pt;
}

.header_logo {
    display: flex;
}

.buy {
    margin: 75px 0 0 844px;
}

.lupa {
    margin: 75px 96px 0 18px;
}

.zagalovok {
    width: 550px;
    font-size: 96pt;
    letter-spacing: -3%;
    margin: 160px 0 0 95px;
}

.o_nas {
    width: 650px;
    margin: 44px 0 0 95px;
    font-size: 19pt;
    line-height: 1.4em;
    color: rgba(0, 0, 0, 0.658);
}

.btn2 {
    width: 315px;
    height: 96px;
    background: #093CB5;
    border: 0;
    color: #fff;
    border-radius: 83px;
    font-size: 19pt;
    margin: 96px 0 0 95px;
}

.phone {
    margin: 131px 0 0 58px;
    width: 30px;
    height: 30px;
}

.text_phone {
    color: #093CB5;
    margin: 129px 0 0 8px;
}

.number {
    display: flex;
}

.knopki {
    display: flex;
}

.skuter {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.l {
    z-index: 1;
}

.red {
    margin: 11px 0 0 0;
    border-radius: 32px;
}

.u {
    width: 360px;
    height: 108px;
    background: rgb(255, 255, 255);
    color: #000;
    font-size: 19pt;
    display: flex;
    border-radius: 32px;
    border: 1px solid rgba(0, 0, 0, 0.164);
}

.kub {
    margin: 26px 28px 0 18px;
}

.Line {
    width: 108px;
    height: 29px;
    margin: 45px 0 0 0;
}

.q {
    display: flex;
    position: absolute;
    right: 636px;
    top: 300px;
}

.e {
    top: 650px;
    right: 245px;
}

.versia {
    width: 175px;
    padding: 10px 0 0 32px;
}

.vizitka {
    color: #fff;
    width: 293px;
    height: 294px;
    border-radius: 32px;
    background: rgb(78,108,255);
    background: radial-gradient(circle, rgba(78,108,255,0.8631827731092436) 0%, rgba(0,0,0,1) 100%);
}

.leader {
    margin: 20px 0 0 32px;
    opacity: 75%;
    font-size: 14pt;
}

.lu {
    margin: 40px 0 30px 35px;
}

.Kupit {
    display: flex;
}

.buyer {
    margin: 48px 0 0 8px;
    color: #9AAFDF;
    font-size: 14pt;
}

.strelki {
    position: absolute;
    display: flex;
    right: 128px;
    top: 516px;
}

.kop {
    position: absolute;
    right: 96px;
    top: 270px;
}

.Block_1 {
    padding-bottom: 176px;
}

.about {
    margin: 0 auto;
    width: 1728px;
    height: 702px;
    border-radius: 96px;
    background: rgb(78,108,255);
    background: radial-gradient(circle, rgba(78,108,255,0.8631827731092436) 0%, rgba(0,0,0,1) 100%);
}

.h2 {
    color: #fff;
    font-size: 60pt;
    padding: 110px 0 0 114px;
}

.plus {
    margin: -274px 0 0 744px;
}

.binokol {
    position: absolute;
    top: 1360px;
    right: 333px;
}

.club {
    margin-top: 26px;
    width: 300px;
    color: #fff;
    font-size: 19pt;
}

.span {
    color: rgba(255, 255, 255, 0.452);
}

.work {
    display: flex;
    justify-content: space-between;
}

.mes {
    padding-left: 114px;
}

.bop {
    padding-right: 114px;
}

.proda {
    padding: 244px 0 0 96px;
    color: #000;
}

.header_block_2 {
    display: flex;
} 

.qsx {
    margin: 361px 0 0 1143px;
    display: flex;
}

.napravlenie {
    width: 33px;
    height: 33px;
}

.new {
    width: 848px;
    margin: 128px 0 0 96px;
    border-radius: 40px;
    box-shadow: 0 2px 50px #9ba1a748;
    display: flex;
}

.Yamato {
    width: 340px;
    padding: 64px 0 0 64px;
}

.opis {
    padding: 32px 0 0 64px;
    width: 430px;
    line-height: 1.4em;
}

.za {
    margin: 96px 0 0 64px;
    width: 213px;
    background: #093CB5;
    color: #fff;
    border-radius: 28px;
}

.ya {
    display: flex;
}

.sumka {
    width: 24px;
    height: 25px;
    margin: 27px 0 0 27px;
}

.Kupitza {
    margin: 26px 0 0 8px;
    font-size: 16pt;
}

.rubli {
    margin: 12px 0 0 37px;
    padding-bottom: 24px; 
}

.fff {
    padding-bottom: 64px;
}

.newred {
    margin: 100px 0 0 220px;
    width: 80px;
    height: 62px;
    background: #FF7474;
    color: #fff;
    border-radius: 20px;
}

.p {
  text-align: center;
  margin-top: 17px;
}

.Midway {
    position: absolute;
    top: 2730px;
    left: 570px;
}

.vse {
    display: flex;
    padding-bottom: 244px;
} 

.AOVO {
    position: absolute;
    top: 2720px;
    left: 1510px;
}

.aovotwo {
    width: 300px;
}

.ll {
    width: 400px;
    padding-top: 94px;
}

.woman {
    margin-left: 188px;
}

.block_89 {
    display: flex;
    margin-bottom: 244px;
}

.Moscow {
    margin: 178px 0 0 73px;
    width: 470px;
    color: rgba(0, 0, 0, 0.356);
    font-size: 24pt;
}

.evening {
    color: rgba(0, 0, 0, 0.753);
}

.threetimes {
    margin-left: -7px;
}

.LG {
    margin: 54px 0 0 71px;
}

.pol {
    width: 123px;
    font-size: 16pt;
    margin: 170px 0 0 73px;
}

.model {
     margin: 320px 0 0 96px;
     font-size: 16pt;
     opacity: 65%;
}

.h6 {
    margin: 8px 0 0 96px;
    font-size: 22pt;
}

.YAMarket {
    margin: 0 auto 300px auto;
    border-radius: 80px;
    width: 1728px;
    background: rgb(0,22,163);
    background: radial-gradient(circle, rgba(0,22,163,0.7371323529411764) 0%, rgba(0,0,0,1) 100%);
}

.marketsss {
    margin-top: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 114px 0 114px 0;
}

.yandex {
    width: 620px;
    margin-left: 117px;
}

.Ozon {
    width: 287px;
}

.runs {
    padding: 0 0 0 96px;
    width: 125px;
    height: 36px;
}

.futer {
    display: flex;
    padding-bottom: 95px;
}

.lads {
    margin: 0 0 20px 0;
}

.ladrb {
    margin: 0 0 32px 0;
    font-size: 19pt;
}

.futer1 {
    margin: 0 0 0 453px;
}

.zxczxc {
    margin: 60px 0 0 0;
    color: rgba(0, 0, 0, 0.342);
}

.futer2 {
    margin: 0 0 0 98px;
}

.kolp {
    width: 350px;
    color: rgba(0, 0, 0, 0.363);
    margin: 214px 0 0 96px;
}

.ccskrf {
    color: rgba(0, 0, 0, 0.658);
}

.poli {
    color: rgba(0, 0, 0, 0.363);
}